<!DOCTYPE html>
<html lang="en">

  <%= render :partial => "/shared/head" %>
  
  <body>
    
    <%= render :partial => "/shared/site_bar" %>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    
    <%= render :partial => "/shared/header" %>
    
    <%= render :partial => "/shared/featured" if home_page? %>
    
    <section id="content" class="body">
      
      <%= yield %>
      
      <%= render :partial => "/shared/comments" if false and is_tutorial? %>
      
    </section>
    
    <%= render :partial => "/shared/extras" %>
  	
    <%= render :partial => "/shared/footer" %>
  
  </body>
  
</html>